@media (max-width:1450px) {
    .banner_img{
        img{
            padding-right:300px;

        }
    }
}

@media (max-width: 1200px){
    .ContenedorProductos{
        width: 65%;
    }.banner_img{
        img{
            margin-right: -1000px;
        }
    }
    .banner_title{
        h2{
            margin-left: 30px;
        }
    }
    .BotonConocenos{
        margin-left: 30px;
    }
}

@media (max-width:1179px) {
    .InformacionContacto{
        padding: 2rem;
    }
    .FormularioContacto{
        background-color: #222222;
        padding: .1rem;
    }
}

@media (max-width:1160px){
    .InformacionContacto{
        padding: 2rem;
    }
    .FormularioContacto{
        background-color: #222222;
        padding: .8rem;
    }
}

@media (max-width: 1100px){
    .ContenedorProductos{
        width: 85%;
    }
}

@media (max-width: 952px){
    .ContenedorContenedores{
        flex-direction: column;
    }
    .ContenedorProductos{
        width: 70%;
    }
    .ContenedorTextoProductoGrande{
        margin: 50px;
    }
}

@media (max-width:920px) {
    .ContenedorProductoGrande{
        display: flex;
    }
    .RemeraProductosTarjetaGrande{
        height: 400px;
    }
}

@media (max-width:875px) {
    .RemeraProductosTarjetaGrande{
        height: 370px;
    }
}

@media (max-width:800px) {
    .RemeraProductosTarjetaGrande{
        height: 320px;
    }
}

@media (min-width: 768px) {
    .ContenedorContenedoresContactanos{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

@media (max-width:767px) {
    Main .MainContactanos{
        padding: 0px;
    }
    .ContenidoContactanos{
        padding: 20px;
    }
    .ContenedorContenedoresContactanos{
        padding:0px
    }
}

@media (max-width:732px) {
    .RemeraProductosTarjetaGrande{
        display: none;
    }
    .ContenedorTextoProductoGrande{
        display: none;
    }
    .ContenedorProductoGrande{
        display: none;
    }
}

@media (max-width:630px) {
    .QuienesSomos{
        margin-left: 3rem;
    }
}

@media (max-width:510px) {
    Main .MainContactanos{
        padding: 0px;
    }
    .ContenidoContactanos{
        padding: 0px;
    }
    .ContenedorContenedoresContactanos{
        padding:0px
    }
}

@media (max-width: 500px){
    .ContenedorContenedores{
        flex-direction: column;
    }
    .ContenedorProductos{
        width: 100%;
    }
    
}

@media (max-width:472px) {
    .FooterMenuContainer{
        flex-direction: column;
        padding-right: 32px;
    }
    .MenuItem{
        font-size: 20px;
    }
    .QuienesSomos{
        margin-right: 5px;
        margin-left: 28px;
    }
}

@media (max-width:370px) {
    .VideoNosotros{
        height: 20rem;
    }
    .InformacionContacto{
        ul{
            li{
                font-size: .8rem;
            }
        }
    }
}