.BodyNosotros{
    background: linear-gradient(to right, rgb(131, 4, 242), rgb(219, 219, 219));
    background-size: 100vw;
    background-attachment: fixed;
    .ContenedorNosotros{
        @include flex-column-center;
        h2 {
            margin-bottom: 20px;
            font-size: 75px;
            color: white;
        }
        p{
            padding: 1.5rem;
            margin: 20px;
            font-size: 23px;
            color: white;
        }
        iframe {
            margin: 150px 0px;
        }
    }
    }
    
    .ContenedorSectionNosotros{
        width: 90%;
        max-width: 1920px;
        margin: auto;
    }
    
    .bg_animate{
        width: 100%;
        height: 100vh;
        background: linear-gradient(to right, rgb(131, 4, 242), rgb(219, 219, 219));
        position: relative;
        overflow: hidden;
    }
    
    .banner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .banner_img{
            animation: movimiento 2.5s linear infinite;
            img{
                width: 800px;
                display: block;
                padding-bottom: 250px;
                margin-left: 450px;
            }
        }
        .banner_title{
            h2{
                color: #fff;
                font-size: 60px;
                font-weight: 800;
                margin-bottom: 60px;
                padding-bottom: 70px;
                margin-left: 5px;
            }
            .BotonConocenos{
                border-radius: 30px;
                background: linear-gradient(to right, rgb(118, 30, 110), rgb(181, 11, 136) );
                border: 1px solid rgb(38, 38, 38);
                &:hover{
                    opacity: .9;
                }
                .Conocenos{
                    color: #fff;
                    font-size: 20px;
                    text-decoration: none;
                    display: inline-block;
                    padding: 17px;
                }
            }
        }
    }
    
    .burbuja{
        border-radius: 50%;
        background: #fff;
        opacity: .3;
        position: absolute;
        bottom: -150;
        animation: burbujas 3s linear infinite ;
        &:nth-child(1){
            width: 80px;
            height: 80px;
            left: 5%;
            animation-duration: 3s;
            animation-delay: 3s;
        }
        &:nth-child(2){
            width: 100px;
            height: 100px;
            left: 35%;
            animation-duration: 3s;
            animation-delay: 5s;
        }
        &:nth-child(3){
            width: 20px;
            height: 20px;
            left: 15%;
            animation-duration: 1.5s;
            animation-delay: 7s;
        }
        &:nth-child(4){
            width: 50px;
            height: 50px;
            left: 90%;
            animation-duration: 6s;
            animation-delay: 3s;
        }
        &:nth-child(5){
            width: 70px;
            height: 70px;
            left: 65%;
            animation-duration: 3s;
            animation-delay: 1s;
        }
        &:nth-child(6){
            width: 20px;
            height: 20px;
            left: 50%;
            animation-duration: 4s;
            animation-delay: 5s;
        }
        &:nth-child(7){
            width: 20px;
            height: 20px;
            left: 50%;
            animation-duration: 4s;
            animation-delay: 5s;
        }
        &:nth-child(8){
            width: 100;
            height: 100px;
            left: 52%;
            animation-duration: 5s;
            animation-delay: 5s;
        }
        &:nth-child(9){
            width: 65px;
            height: 65px;
            left: 51%;
            animation-duration: 3s;
            animation-delay: 2s;
        }
        &:nth-child(10){
            width: 40px;
            height: 40px;
            left: 35%;
            animation-duration: 3s;
            animation-delay: 4s;
        }
        @keyframes burbujas{
            0%{
                bottom: 0;
                opacity: 0;
            }
            30%{
                transform: translateX(30px);
            }
            50%{
                opacity: .4;
            }
            100%{
                bottom: 100vh;
                opacity: 0;
            }
        }
        @keyframes movimiento{
            0%{
                transform: translateY(0);
            }
            50%{
                transform: translateY(30px);
            }
            100%{
                transform: translateY(0);
            }
        }
    }